

body{
    font-family: 'Azeret Mono', monospace;
}

.banner {
    display: flex;
    background-image: url(./assets/Hero-bg.png);
    height: 652px;
    margin-top: 131px;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.banner-content {
    width: 998px;
    height: 582px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.banner-content>button{
    width: 130px;
    height: 45px;
    color: white;
    background-color: black;
    border-radius: 7px;
}
  /* End of header  */

.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
.content-1{
    display: flex;    
    margin-top: 70px;
    justify-content: space-around;
    width: fixed 946px;
    
}

.c1 button{
    background-color: white;
    color: black;
    width: 100px;
    height: 30px;
    border: 0.5px solid black;
}

.content-2{
    display: flex;
    margin-top: 80px;
    margin-left: 180px;
    width: Fixed 946px;
}
.c2 button{
    background-color: white;
    color: black;
    width: 100px;
    height: 30px;
    border: 0.5px solid black;
}
.c2{
    margin-left: 20px;
}

.content-3{
    display: flex;    
    margin-top: 80px;
    justify-content: space-around;
    width: fixed 946px;
    
}

.c3 button{
    background-color: white;
    color: black;
    width: 100px;
    height: 30px;
    border: 0.5px solid black;
}

 /* End of section why web  */

 .inspiration{
    margin-top: 150px;
    

 }

 .my{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }
 .video{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    
 }

 /* end of section inspiration  */

 .target{
    margin-top: 100px;
 }

 .my-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .properties{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
 }


 .html{
    width: 364px;
   background-color: rgb(250, 234, 237);
 }

.css{
    width: 364px;
    margin: 0px 20px;
    background-color: rgb(224, 253, 253);
}

.javascript{
    width: 364px;
    background-color: rgb(250, 234, 237);
}

/* End of section target as well as main */

.support{
    
    margin: 100px 200px;
    height: 250px;
    background-image: url(./assets/handshake.jpg);
    background-color: rgb(0,0,0,0.5);
    border-radius: 8px;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
}
   
.sp-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.search{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inp{
    height: 30px;
    width: 400px;
    border-radius: 6px;
    margin: 10px;
}

.search button{
    height: 35px;
}

/* Final main section done  */
.last {
    display: flex;
    justify-content: space-around;
}

